<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TipsiSyncCSharpClient.Settings.Address" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TipsiSyncCSharpClient.Settings.Address>
            <setting name="DomainURL" serializeAs="String">
                <value>https://test.gettipsi.com/</value>
            </setting>
            <setting name="LoginRoute" serializeAs="String">
                <value>api/rest/v001/login</value>
            </setting>
            <setting name="SyncRoute" serializeAs="String">
                <value>api/rest/v001/store/19351/barcode/sync</value>
            </setting>
            <setting name="SyncClearRoute" serializeAs="String">
                <value>api/rest/v001/store/19351/barcode/sync_clear</value>
            </setting>
        </TipsiSyncCSharpClient.Settings.Address>
    </userSettings>
</configuration>